!!! 5
%html
  %head
    %meta{:charset => "utf-8"}/
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "7KKHdMtxac0VSE44jGAu5B3kaBCax1YP2n-pulat2NU", :name => "google-site-verification"}/
    %meta{:content => "B7AE2235EAC23F0B08756382DE5D292F", :name => "msvalidate.01"}/
    / Use title if it's in the page YAML frontmatter
    %meta{name: "viewport", content: "width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0"}/
    %link{:href => "/favicon.ico", :rel => "icon"}/
    %title= data.page.title + " — SAMI Developers" || "SAMI Developers"
    = partial :uservoice
    = stylesheet_link_tag "application"
    = stylesheet_link_tag "print",{media: 'print'}
  %body{:class => page_classes, data: {spy: 'scroll', target: '#toc', offset: 50}}
    - docs = sitemap.find_resource_by_path('index.html')
    - landing_page = ['/', '/simband/', '/sensor-module/', '/sami/'].include? current_page.url
    .container
      %header.main-header
        %nav.mobile-nav
          %h1.logo= link_to data.page.title, '/'
          %form.quick-search
            %label.search-input-wrapper
              %input.search{type: 'search', placeholder: 'Search', name: 'q', id: 'swiftype-search' }
          %a.toggle-nav{href: '#'}
            %span.fa.fa-bars
            %span.fa.close
        %nav.main-nav
          .beta
            %span Beta
          %h1.logo= link_to data.page.title, '/'
          .nav-container
            - children = page_data(docs)['nav']
            .navigation-shroud
            .current-page
              = display_current children
            .nav-list-container
              %ul.nav-list
                - children.each do |child|
                  - page = page_or_index("/#{child}")
                  = nav_link_to page_title(page), page.url
              %ul.offsite-nav-list
                %li
                  %a{href: "https://blog.samsungsami.io/"} Blog
                %li
                  %a{href: "https://devportal.samsungsami.io"} Developer Portal
                %li
                  %a{href: "https://portal.samsungsami.io"} User Portal
                %li
                  %a{href: "http://www.voiceofthebody.io"} voiceofthebody.io
      .content.side
        - unless landing_page
          %a.toggle-menu{href: '#'}
            &#8595;
          %nav.section-nav
            / Description for community landing
            .section-community
              %h1 Community
              
              %p Have a development question? Browse the issues that early Simband and SAMI developers are talking about, or ask a new question.
              
            %form.quick-search
              %label.search-input-wrapper
                %input.search{type: 'search', placeholder: 'Search', name: 'q', id: 'swiftype-search' }
            %ul.section-nav-list
              -# Current Subsection
              - main_section_name = current_page.url.split('/')[1]
              - main_section = sitemap.find_resource_by_path("/#{main_section_name}/index.html")
              - if main_section
                %li.section-nav-item
                  %h4.section-title= page_title(main_section)
                  = partial :nested_nav, :locals => {:sections => page_data(main_section)['nav'], :parent => "/#{main_section_name}"}
              - else
                - children = page_data(docs)['nav']
                - children.each do |child|
                  - page = page_or_index("/#{child}")
                  %li.section-nav-item
                    %h4.section-title= link_to page_title(page), page.url
              -# Meta Subsection
              %li.section-nav-item.meta-section-nav-item
                %h4.section-title Contribute
                %ul.subsections
                  %li
                    %a#feedback-side{href: '#feedback'}
                      %i.fa.fa-send-o
                      Feedback
                  %li
                    = github_link '<i class="fa fa-github"></i> Edit', current_page
                  %li
                    %a{href: 'https://twitter.com/samsungsamiio', target: "_blank"}
                      %i.fa.fa-twitter
                      Follow Us
                  %li
                    %a#mailing-list{href: '#'}
                      %i.img.mailing-list-small
                      Mailing List
              %li.section-nav-footer
                = partial :footer

        #swiftype-results
        %div.main.content{ data: {view: 'Content', 'no-toc' => page_data(current_page)['no_toc']}}
          .main-content-interior
            ~ yield
            - if current_page.parent
              - nearest = nearest_resource(current_page)
              - unless landing_page
                %ul.paging-links
                  - prev_page = nearest[:prev]
                  - if prev_page
                    %li.prev-page= link_to "Prev: #{page_title(prev_page)}", prev_page.url

                  - next_page = nearest[:next]
                  - if next_page
                    %li.next-page= link_to "Next: #{page_title(next_page)}", next_page.url

        .lightbox-content
          = partial :mailing_list

    = partial "templates"
    = javascript_include_tag  "manifest"
    :plain
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-54296710-3', 'auto');
        ga('send', 'pageview');
      </script>
      <script type="text/javascript">
        adroll_adv_id = "ARS73BMJIJAVNNFGDRDT5R";
        adroll_pix_id = "5PSOSJCLYNAHTOTZFU6TDR";
        /* OPTIONAL: provide email to improve user identification */
        /* adroll_email = "username@example.com"; */
        (function () {
          var _onload = function(){
            if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
            if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
            var scr = document.createElement("script");
            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
            scr.setAttribute('async', 'true');
            scr.type = "text/javascript";
            scr.src = host + "/j/roundtrip.js";
            ((document.getElementsByTagName('head') || [null])[0] ||
            document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
          };
          if (window.addEventListener) {window.addEventListener('load', _onload, false);}
          else {window.attachEvent('onload', _onload)}
        }());
      </script>
